@model ETicaret.Models.Product

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ürün Sil</h1>
<hr />
<h3>Ürünü silmek istediğinizden emin misiniz?</h3>
<div class="container">
    <dl class="row">
        <dt class="col-sm-2">
            Başlık
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            Açıklama
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Fiyat
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            Resim
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class="col-sm-2">
            Anasayfada Var Mı?
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ishome)
        </dd>
        <dt class="col-sm-2">
            Stok Durumu?
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsStock)
        </dd>
        <dt class="col-sm-2">
            Kategori
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Ürün Sil" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-warning">Ürün listesi</a>
    </form>
</div>
